/* General styles */
body {
  font-family: 'Avenir', sans-serif;
  color: #333;
  overflow-x: hidden;
}

/* Custom fonts */
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.ttc');
}

@font-face {
  font-family: 'MonumentExtended-Regular';
  src: url('../fonts/MonumentExtended-Regular.otf') format('truetype');
}
.no-style-link:hover  {
  text-decoration: none;
  color: inherit;
}
.mi-texto {
  font-family: 'MonumentExtended-Regular', sans-serif;
}

.negrita {
  text-transform: uppercase;
}

/* Header styles */
.site-header {
  background-color: white;
  border-bottom: none;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.nav-list a:hover {
  color: #0077cc;
}

/* Hero styles */
.hero-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-img {
  width: 100%;
  height: auto;
  max-height: 60vh;
  object-fit: cover;
}

.hero-video {
  width: 100%;
  height: auto;
  height: 80vh;
  object-fit: cover;
}


.video-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.video-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.video-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  text-align: center;
}

.video-item:hover img {
  opacity: 0.4;
}

.video-item:hover .overlay {
  opacity: 1;
}

/* About page styles */
.about-main {
  max-width: 100%;
}

.vertical-images {
  display: flex;
  height: 600px;
}

.vertical-images img {
  flex: 1;
  object-fit: cover;
  width: 33.33%;
}

.img-left {
  object-position: center top;
}

.img-centro {
  object-position: center bottom;
}

/* Footer styles */
.footer-line1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.footer-line2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.footer-line3 {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }
  
  .nav-list {
    margin-top: 1rem;
  }
  
  .hero-img, .hero-video {
    max-height: 40vh;
  }
  
  .video-grid {
    margin-top: 3rem;
  }
  
  .vertical-images {
    flex-direction: column;
    height: auto;
  }
  
  .vertical-images img {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 576px) {
  .hero-img, .hero-video {
    max-height: 30vh;
  }
  
  .footer-line1 {
    font-size: 1.2rem;
  }
  
  .footer-line3 {
    font-size: 1rem;
  }
}

h2 {
  text-transform: uppercase;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 90px;
  margin: 0 40px;
}